[Unit]
Description=Docker - The Linux Container Engine
Requires=network.target
After=multi-user.target

[Service]
Type=simple
Nice=5
ExecStartPre=/bin/mount --make-rprivate /
ExecStartPre=/sbin/sysctl -w net.ipv4.ip_forward=1
ExecStart=/usr/bin/docker -d -p /run/docker.pid
ExecStop=/sbin/sysctl -w net.ipv4.ip_forward=0
TimeoutSec=60

[Install]
WantedBy=multi-user.target
